
.margin-left-150
{
    margin-left : 150px !important;
}

.margin-left-100
{
    margin-left : 100px !important;
}

.margin-left-120
{
    margin-left : 120px !important;
}

.padding-left-150
{
    padding-left : 150px !important;
}

.padding-left-100
{
    padding-left : 100px !important;
}

.padding-left-120
{
    padding-left : 120px !important;
}

.control-label-100
{
    width:100px  !important;
}

.control-label-120
{
    width:120px  !important;
}

.control-label-140
{
    width:140px  !important;
}

.padding-top-7
{
    padding-top:7px !important;
}

.radio-width
{
    width : 100%  !important;
}

.div_bg
{
    background-color:#F0FCFD;
    padding-top:20px;
    margin-bottom:20px;
}

.bold_text
{
    font-weight:bold;
}

.TE
{
    padding:20px;
    font-size:16pt;
    font-weight:bold;
}